/********CSS uso de tipografias********/

/*LINK DE LAS TIPOGRAFIAS: https://fonts.google.com/share?selection.family=Inter:wght@400;600;700%7CQuicksand:wght@700
font-family: 'Inter', sans-serif;       //font-weigt = 400,600,700 
font-family: 'Quicksand', sans-serif;   //font-weigt = 700
*/

/******variables globales*******/
:root {
    --color-naranja: #F4663B;
    --color-amarillo: #F6DF4C;
    --color-celeste: #51CBD8;
    --color-violeta: #506AD4;
    --color-azul-marino: #111827;
    --color-magenta: #CE4BF2;
    --color-blanco: #F2F2F2;
}
/************* Reset ****************/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}  
  *,
  *::after,
  *::before {
    box-sizing: inherit; 
}

body {
    margin: 0;
    overflow-x: hidden;
}


