/********CSS uso de tipografias********/

/*LINK DE LAS TIPOGRAFIAS: https://fonts.google.com/share?selection.family=Inter:wght@400;600;700%7CQuicksand:wght@700
font-family: 'Inter', sans-serif;       //font-weigt = 400,600,700 
font-family: 'Quicksand', sans-serif;   //font-weigt = 700
*/

/******variables globales*******/
:root {
    --color-naranja: #F4663B;
    --color-amarillo: #F6DF4C;
    --color-celeste: #51CBD8;
    --color-violeta: #506AD4;
    --color-azul-marino: #111827;
    --color-magenta: #CE4BF2;
    --color-blanco: #fff;
    --color-blanco-gris: #F2F2F2;


}
/************* Reset ****************/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}  
  *,
  *::after,
  *::before {
    box-sizing: inherit; 
}

body {
    margin: 0;
    overflow-x: hidden;
}

/************* Componentes ****************/
.card{
    background-color: var(--color-blanco);
    border-radius: 50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
.title{
    position: relative;
}



/************* Styles ****************/
body{
    background-color: var(--color-blanco-gris);
}
